bin/
target/
.classpath
.project
acceptance_tests/node_modules/
acceptance_tests/package-lock.json
src/test/resources/scripts/.saved_pid
src/test/resources/scripts/log_app_err.txt
src/test/resources/scripts/log_app_out.txt
src/test/resources/acceptance_tests/.bundle
src/test/resources/acceptance_tests/vendor
src/test/resources/acceptance_tests/Gemfile
src/test/resources/acceptance_tests/Gemfile.lock
src/test/resources/acceptance_tests/log_app_err.txt
src/test/resources/acceptance_tests/log_app_out.txt
.DS_Store
*/.DS_Store
effective.pom
