div.left {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 5%;
}

div.right {
    float: left;
    width: 40%;
    height: 100%;
    margin-right: 5%;
}

div.buttonRight {
    float: right;
    width: 40%;
    height: 100%;
    margin-top: 0%;
}

div.rankingleft {
    float: left;
    width: 58%;
    height: 100%;
}

div.rankingright {
    float: left;
    width: 30%;
    height: 100%;
    margin-right: 5%;
}

div.ranking{
    border: 3px solid #c62828;
    border-radius: 5px;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 20px;
    font-size: 20px;
}

h1.center{
    margin-top: 20px;
    text-align: center;
    text-decoration-line: underline;
    font-size: 55px;
}

ul.ranking{
    text-align: right;
    list-style-type: decimal;
    padding: 0;
    max-height: 20em;
    overflow-y: auto;
}

li.ranking{
    border-bottom: 1px solid #dcdfe3;
}

p.individualStats{
    font-size: 25px;
    border: 3px solid #c62828;
    border-radius: 5px;
}
